{% extends "base.html" %}

{% block body %}

{% if USER.is_authenticated %}
<h4><label id="greet"></label> {{USER.name}}, what would you like to do?</h4>
{% endif %}


<h5>Browse</h5>
<div class="list-group">
    <a href="/view" class="list-group-item list-group-item-action">View the database</a>
    <a href="/view/all" class="list-group-item list-group-item-action">Search the database</a>
</div>

<br>

{% if USER.is_authenticated and USER.role >= 5 %}
<h5>Update</h5>
<div class="list-group">
    <a href="/register/item" class="list-group-item list-group-item-action">Add a new item</a>
    <a href="/search/check_in" class="list-group-item list-group-item-action">Search and check in an item</a>
    <a href="/search/check_out" class="list-group-item list-group-item-action">Search and check out an item</a>
</div>

<br>

<h5>Administrate</h5>
<div class="list-group">
    {% if USER.is_authenticated and USER.role >= 10 %}
    <a href="/view/users" class="list-group-item list-group-item-action">Manage users</a>
    <a href="/view/audit" class="list-group-item list-group-item-action">View audit logs</a>
    {% endif %}
    <a href="/view/deleted" class="list-group-item list-group-item-action">View deleted items</a>
    {% if USER.is_authenticated and USER.role >= 10 %}
    <a href="/view/deleted_categories" class="list-group-item list-group-item-action">View deleted categories</a>
    <a href="/register/category" class="list-group-item list-group-item-action">Create a new category</a>
    <a href="/register/subcategory" class="list-group-item list-group-item-action">Create a new subcategory</a>
    <a href="/delete/category" class="list-group-item list-group-item-action"><div style="color:red">Delete a category</div></a>
    <a href="/delete/subcategory" class="list-group-item list-group-item-action"><div style="color:red">Delete a subcategory</div></a>
    {% endif %}
    <a href="/delete/image" class="list-group-item list-group-item-action"><div style="color:red">Delete an image</div></a>
</div>
<br>
{% endif %}

<h5>Account</h5>
<div class="list-group">
{% if USER.is_authenticated %}
    <a href="/logout" class="list-group-item list-group-item-action">Log out</a>
{% else %}
    <a href="/login" class="list-group-item list-group-item-action">Log in</a>

{% endif %}
</div>

<script>
    var myDate = new Date();
    var hrs = myDate.getHours();

    var greet;

    if (hrs < 12)
        greet = 'Good morning';
    else if (hrs >= 12 && hrs <= 17)
        greet = 'Good afternoon';
    else if (hrs >= 17 && hrs <= 24)
        greet = 'Good evening';

    document.getElementById('greet').innerHTML = greet;
</script> 

{% endblock %}
