{% extends "base.html" %}

{% block body %}

<h4>Which barcode would you like to delete?</h4>

<div>
  <p align="center">
      <input type="text" class="form-control" id="search" placeholder="Type to search">
  </p>
</div>

<div class="list-group" id="barcodeList">
    {% for barcode in barcodes %}
      <a onclick="confirmDelete('{{barcode.barcode}}', '{{barcode.item_name}}')" class="list-group-item list-group-item-action">
        <code>{{barcode.barcode}}</code> registered to <strong>{{barcode.item_name}}</strong>
      </a>
        <script>
          function confirmDelete(barcode, name) {
            if (confirm("Are you sure you want to delete barcode [" + barcode + "] for item [" + name + "]?")) {
              window.location.href = "/delete/barcode/" + barcode
            }
          }
        </script>
    {% endfor %}
</div>

<script>
  window.onload = function() {
      $("#search").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#barcodeList a").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  }
</script>

{% endblock %}
