{% extends "base.html" %}

{% block body %}

<h2>Which category would you like to delete?</h2>

<div class="list-group">
    {% for category in categories %}
        <a onclick="confirmDelete('{{category.id}}', '{{category.name}}')" class="list-group-item list-group-item-action">{{category.name}}</a>
        <script>
          function confirmDelete(id, name) {
            if (confirm("Are you sure you want to delete '" + name + "'?")) {
              window.location.href = "/delete/category/" + id
            }
          }
        </script>

    {% endfor %}
</div>

{% endblock %}
