<footer class="footer bg-light text-dark text-center text-lg-start" id="footer">
    <!-- Grid container -->
    <div class="container p-3">
        <div class="row">
            <div class="col-md">
                Made with <i class="material-icons md-dark" style="font-size: 14px">favorite</i> by λ1
            </div>
            <div class="col-md">
                <a href="mailto:maiatucla@gmail.com" class="text-dark">Contact Us</a>
            </div>
            <div class="col-md">
                <a href="/feedback" class="text-dark">Submit Feedback</a>
            </div>
        </div>
    </div>
</footer>