{% extends "base.html" %}

{% block body %}

<h4>Register barcode</h4>

{% from "includes/_formhelpers.html" import render_field %}

<div class="alert alert-warning" role="alert">
  The pic2shop app (available on both <a href="https://play.google.com/store/apps/details?id=com.visionsmarts.pic2shop&hl=en_US">Android</a> and <a href="https://apps.apple.com/app/id308740640">iOS</a>) must be installed in order to scan barcodes.
</div>

<input type=button OnClick="scan();" value="Scan Barcode">
<script>
function scan(){
     window.location="pic2shop://scan?callback=" + window.location.origin + window.location.pathname
}
</script>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js" defer></script>

<form method="POST" action="">
	<div class="form-group">
		{{render_field(form.item, class_="form-control")}}
	</div>
	<div class="form-group">
		{{render_field(form.barcode, class_="form-control")}}
	</div>
	<p><input type="submit" class="btn btn-primary" value="Submit"></p>

</form>

<script>
	let searchParams = new URLSearchParams(window.location.search);
	if (searchParams.has('ean')) {
		document.forms[0]["barcode"].value = searchParams.get('ean');
	}
</script> 

<script>
    $(document).ready(function() {
        $('#item').select2({  // init Select2 on form's select field
            placeholder: "{{ form.item.label.text }}",
            allowClear: true,
            "box-sizing": "border-box",
            "width": "100%" 

        });
    });
</script>

{% endblock %}
