{% extends "base.html" %}

{% block body %}

<h4>Register barcode</h4>

{% from "includes/_formhelpers.html" import render_field %}

<input type=button OnClick="scan();" value="Scan Barcode">
<script>
function scan(){
     window.location="pic2shop://scan?callback=" + window.location.origin + window.location.pathname
}
</script>

<form method="POST" action="">
	<div class="form-group">
		{{render_field(form.item, class_="form-control")}}
	</div>
	<div class="form-group">
		{{render_field(form.barcode, class_="form-control")}}
	</div>
	<p><input type="submit" class="btn btn-primary" value="Submit"></p>

</form>

<script>
	let searchParams = new URLSearchParams(window.location.search);
	if (searchParams.has('ean')) {
		document.forms[0]["barcode"].value = searchParams.get('ean');
	}
</script> 

{% endblock %}
