{% extends "base.html" %}

{% block body %}

<h2>What would you like to register?</h2>

<div class="list-group">
  <a href="/register/category" class="list-group-item list-group-item-action">Create a new category</a>
  <a href="/register/item" class="list-group-item list-group-item-action">Add a new item</a>
  <a href="/register/barcode" class="list-group-item list-group-item-action">Register a new barcode</a>
  <a href="/delete/item" class="list-group-item list-group-item-action disabled"><div style="color:red">Delete an item</div></a>
  <a href="/delete/category" class="list-group-item list-group-item-action"><div style="color:red">Delete a category</div></a>

</div>

{% endblock %}
