{% extends "base.html" %}

{% block body %}

<h4>{{action}} an item</h4>

{% from "includes/_formhelpers.html" import render_field %}

<div class="alert alert-warning" role="alert">
  The pic2shop app (available on both <a href="https://play.google.com/store/apps/details?id=com.visionsmarts.pic2shop&hl=en_US">Android</a> and <a href="https://apps.apple.com/app/id308740640">iOS</a>) must be installed in order to scan barcodes.
</div>

<input type=button OnClick="scan();" value="Scan Barcode">
<script>
function scan(){
     window.location="pic2shop://scan?callback=" + window.location.origin + window.location.pathname
}
</script>

<form method="POST" action="">
	<div class="form-group">
		{{render_field(form.barcode, class_="form-control")}}
		{% if defaultQuantity is defined %}
			{{render_field(form.quantity, class_="form-control")}}
		{% endif %}
		<br> 
		{% for subfield in form.quantity_type %}
			{{ subfield }}
			{{ subfield.label }}
		{% endfor %}
		</div>

	  <p><input type="submit" class="btn btn-primary" value="Submit"></p>

</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
	{% for message in messages %}
	<div class="alert alert-danger" role="alert">
		{{ message }}
	</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<script>
	let searchParams = new URLSearchParams(window.location.search);
	if (searchParams.has('ean')) {
		document.forms[0]["barcode"].value = searchParams.get('ean');
	}
</script> 

{% if defaultQuantity is defined %}
    <script>
        if (document.forms[0]["quantity"].value == 0) {
            document.forms[0]["quantity"].value = {{ defaultQuantity }};
        }
    </script>
{% endif %}

{% endblock %}
