{% extends "base.html" %}
{% block body %}
<h4>View database</h4>

<div>
  <p align="center">
      <input type="text" class="form-control" id="search" placeholder="Type to search">
  </p>
</div>

<div class="list-group" id="categoryList">
  <a href="/view/all" class="list-group-item list-group-item-action">View all items</a>
    {% for category in categories %}
  <a href="/view/category/{{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
    {% endfor %}
</div>

<script>
  window.onload = function() {
      $("#search").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#categoryList a").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  }
</script>

{% endblock %}
