{% extends "base.html" %}
{% block body %}
<div id="page">
<h4 style="text-align:left;float:left;">{{item.name}}</h4> 
<a style="text-align:right;float:right;">
    {% if USER.is_authenticated and USER.role >= 5 %}
    <button class="btn" onclick="window.location.href='/edit/item/{{item.id}}';"><i class="material-icons">edit</i></button>
    {% endif %}
    {% if USER.is_authenticated and USER.role >= 10 %}
    <button class="btn" onclick="confirmDelete('{{item.id}}','{{item.name}}')"><i class="material-icons" style="color:red">delete</i></button>
    {% endif %}
</a>

<br>

<!-- Used to align the material icon to the text -->
<style type="text/css">
    .material-icons{
        display: inline-flex;
        vertical-align: top;
    }
</style>

<style>
    /* Center the loader */
    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 120px;
      height: 120px;
      margin: -76px 0 0 -76px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
</style>
    
<div class="list-group mt-3">

    <div class="d-flex list-group-item flex-row ">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">code</i> Item ID</span>
        <span class="flex-fill text-right"><code>{{item.id}}</code></span>
    </div>

    <div class="d-flex list-group-item flex-row ">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">code</i> Category ID</span>
        <span class="flex-fill text-right"><code>{{item.category_id}}</code></span>
    </div>

    <div class="d-flex list-group-item flex-row ">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">map</i> Location</span>
        <span class="flex-fill text-right">{{item.location}}</span>
    </div>

    <div class="d-flex list-group-item flex-row ">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">category</i> Category</span>
        <span class="flex-fill text-right">{{item.category_name}}</span>
    </div>

    <div class="d-flex list-group-item flex-row ">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">title</i> Item Name</span>
        <span class="flex-fill text-right">{{item.name}}</span>
    </div>

    <div class="d-flex list-group-item flex-row ">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">insert_chart_outlined</i> Quantity - Active</span>
        <span class="flex-fill text-right">{{item.quantity_active}}</span>
    </div>

    <div class="d-flex list-group-item flex-row ">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">insert_chart</i> Quantity - Expired</span>
        <span class="flex-fill text-right">{{item.quantity_expired}}</span>
    </div>

    {% if item.url %}
    <div class="d-flex list-group-item flex-row ">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">link</i> URL</span>
        <span class="flex-fill text-right"><a href="{{item.url}}">Click here</a></span>
    </div>
    {% endif %}

</div>

<br>

<div class="card">
  <div class="card-header">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">description</i> Notes</span>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
        {% set list1 = item.notes.split('\n') %}
            {% for list in list1 %}
            <p>{{ list }}</p>
        {% endfor %}
    </blockquote>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle" style="text-align:left;float:left;"><i class="material-icons">line_style</i> Barcodes</span>
        {% if USER.is_authenticated and USER.role >= 5 %}
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle" style="text-align:right;float:right;"><a href="/edit/item/add_barcode/{{item.id}}"><i class="material-icons">add</i></a></span>
        {% endif %}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
        <ul>
            {% for barcode in barcodes %}
                <li><code>{{ barcode.barcode }}</code></li>
            {% endfor %}
        </ul>
    </blockquote>
  </div>
</div>

<br>

<div class="card">
    <div class="card-header">
          <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">photo</i> Photos</span>
          {% if USER.is_authenticated and USER.role >= 5 %}
          <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
          <label for="file" style="cursor: pointer; text-align:right;float:right;" class="font-weight-bold padding-bottom-3 vertical-align-middle">
            <i class="material-icons">add</i>        
        </label>
          {% endif %}
    </div>
    <div class="card-body">
        <div id="carouselControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for image in images %}
                {% if image == images[0] %}
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{image.image_url}}">
                </div>
                {% else %}
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{image.image_url}}">
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>          
    </div>
  </div>
<br>

</div>

<div id="loader" style="display:none;"></div>

<script>
  function confirmDelete(id, name) {
    if (confirm("Are you sure you want to delete item [" + name + "]? This action is not reversible.")) {
      window.location.href = "/delete/item/" + id
    }
  }
</script>

<script>
    var loadFile = function(event) {
        // TODO: Image has been obtained. Downsize it (max 5MB?) and send to server. Server will then upload to imgur.
        document.getElementById("loader").style.display = "block";
        document.getElementById("page").style.display = "none";
        document.getElementById("footer").style.display = "none";
        var reader = new FileReader();
        reader.readAsDataURL(event.target.files[0]);
        reader.onload = function () {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/edit/item/upload_photo/{{item.id}}', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                img: reader.result
            }));
            xhr.onload = function () {
                result = xhr.response;
                document.getElementById("loader").style.display = "none";
                document.getElementById("page").style.display = "block";
                document.getElementById("footer").style.display = "block";
                if (result === "True") { 
                    location.reload();
                } else {
                    alert("There was an issue uploading your photo. Please try again, or use a smaller photo.");
                }
            }
        };
    };
</script>

{% endblock %}