{% extends "base.html" %}
{% block body %}
<h4 style="text-align:left;float:left;">{{item.name}}</h4> 
<a style="text-align:right;float:right;">
    <button class="btn" onclick="window.location.href='/edit/item/{{item.id}}';"><i class="material-icons">edit</i></button>
    <button class="btn" onclick="confirmDelete('{{item.id}}','{{item.name}}')"><i class="material-icons" style="color:red">delete</i></button>
</a>
<div style="clear:both;"/>


<!-- Used to align the material icon to the text -->
<style type="text/css">
    .material-icons{
        display: inline-flex;
        vertical-align: top;
    }
</style>

<div class="list-group mt-3">

    <div class="d-flex list-group-item flex-row ">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">code</i> Item ID</span>
        <span class="flex-fill text-right"><code>{{item.id}}</code></span>
    </div>

    <div class="d-flex list-group-item flex-row ">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">code</i> Category ID</span>
        <span class="flex-fill text-right"><code>{{item.category_id}}</code></span>
    </div>

    <div class="d-flex list-group-item flex-row ">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">category</i> Category</span>
        <span class="flex-fill text-right">{{item.category_name}}</span>
    </div>

    <div class="d-flex list-group-item flex-row ">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">title</i> Item Name</span>
        <span class="flex-fill text-right">{{item.name}}</span>
    </div>

    <div class="d-flex list-group-item flex-row ">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">insert_chart_outlined</i> Quantity - Active</span>
        <span class="flex-fill text-right">{{item.quantity_active}}</span>
    </div>

    <div class="d-flex list-group-item flex-row ">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">insert_chart</i> Quantity - Expired</span>
        <span class="flex-fill text-right">{{item.quantity_expired}}</span>
    </div>

</div>

<br>

<div class="card">
  <div class="card-header">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle"><i class="material-icons">description</i> Notes</span>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
        {% set list1 = item.notes.split('\n') %}
            {% for list in list1 %}
            <p>{{ list }}</p>
        {% endfor %}
    </blockquote>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header">
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle" style="text-align:left;float:left;"><i class="material-icons">line_style</i> Barcodes</span>
        <span class="font-weight-bold padding-bottom-3 vertical-align-middle" style="text-align:right;float:right;"><a href="/edit/item/add_barcode/{{item.id}}"><i class="material-icons">add</i></a></span>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
        <ul>
            {% for barcode in barcodes %}
                <li><code>{{ barcode.barcode }}</code></li>
            {% endfor %}
        </ul>
    </blockquote>
  </div>
</div>

<script>
  function confirmDelete(id, name) {
    if (confirm("Are you sure you want to delete item [" + name + "]? This action is not reversible.")) {
      window.location.href = "/delete/item/" + id
    }
  }
</script>

{% endblock %}
