{% extends "base.html" %}
{% block body %}
<h4>{{category}}</h4>

<div class="table-responsive">
    <table class="table table-hover" id="items_table">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Item</th>
                <th scope="col">Location</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="table">
            {% for item in items %}
            <tr>
                <td>{{item.category_name}}</td>
                <td>{{item.name}}</td>
                <td>{{item.location}}</td>
                <td>{{item.quantity_active}}</td>
                <td class="text-right">
                    <a href="/view/item/{{item.id}}"><button class="btn"><i class="material-icons">description</i></button></a>
                    {% if not item.deleted and USER.is_authenticated and USER.role >= 5 %}
                    <a href="/edit/item/{{item.id}}"><button class="btn"><i class="material-icons">edit</i></button></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    window.onload = function() {
        $("#items_table").DataTable();
    }
</script>

{% endblock %}

